header {
  background: url("https://ian-albert.com/games/super_mario_bros_maps/mario-8-4.gif");
  background-size: cover;
  width: 100%;
  position: relative;
}

header div h1 {
  /* font-family: 'Londrina Outline', cursive; */
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  position: relative;
  /* font-weight: bold; */
  background: url("../photos/mariobg2.png") 30% 20%;
  letter-spacing: 15px;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0px;
}

header h1.first {
  margin-left: 50px;
  padding-top: 70px;
}

header h1.second {
  text-align: center;
  padding-left: 35px;
}

header h1.third {
  text-align: right;
  padding-bottom: 40px;
}

#background {
    background-image: url("../photos/mariobg2.png");
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
#place-holder{
    height:20vh
}
.shadow {
  box-shadow: 2px 2px 1px grey;
  border-radius: 10px;
}
