#background {
    background-image: url("../photos/main-bg.jpeg");
    background-position: top center;
    background-attachment:scroll;
    background-size: cover;
    height: 80vh;
    width: 100%;
}
#place-holder{
    height:20vh
}
#shadow {
  box-shadow: 2px 2px 1px grey;
  border-radius: 10px;
}
